# Default ignored files
/../../vehiculo /.idea/shelf/
/../../vehiculo /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../vehiculo /.idea/httpRequests/
# Datasource local storage ignored files
/../../vehiculo /.idea/dataSources/
/../../vehiculo /.idea/dataSources.local.xml
